[build-system]
build-backend = 'hatchling.build'
requires = [ "hatch-fancy-pypi-readme", "hatchling" ]

[project]
name = "project-qa"
version = "0.0.1"
description = "â€HyDE: Hypothesize. Embed. Discover."
readme = "README.md"
requires-python = ">=3.11,<4.0"
classifiers = [
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
]
dependencies = [
    "pydantic>=2.10.6",
    "pydantic-settings>=2.7.1",
]

[dependency-groups]
test = [
    "pytest>=8.3.4",
    "pytest-cov>=6",
    "pytest-pretty>=1.2",
    "pytest-random>=0.2",
    "pytest-sugar>=1",
    "pytest-xdist>=3.6.1",
]
lint = [
    "mypy>=1.15",
    "pyright>=1.1.394",
    "ruff>=0.9.6",
]

[tool.uv.workspace]
members = [ "project-qa" ]
